.App {
  text-align: center;
}

/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 40vmin;*/
/*}*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}
.centered{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App-link {
  color: #61dafb;
}
.show-img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
.main-container {
  width: 90%;
}
p {
  font-size: small;
}
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  width: 100px;
  /*margin: 0 auto;*/
  position: relative;
  padding: 0;

}
.star-ratings-css-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: inline-block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-ratings-css-bottom {
  padding: 0;
  display: inline-block;
  z-index: 0;
}
.banner {
  background-size: cover;
}
.background-gradient {
  background-image: radial-gradient(circle at 20% 50%, rgba(11.76%, 18.43%, 23.53%, 0.98) 0%, rgba(11.76%, 18.43%, 23.53%, 0.88) 100%);
}
.row {
  margin-left: 15px;
  margin-right:15px;
}

/*@keyframes App-logo-spin {*/
  /*from {*/
    /*transform: rotate(0deg);*/
  /*}*/
  /*to {*/
    /*transform: rotate(360deg);*/
  /*}*/
/*}*/

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .main-container {
    width: 80%;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }
